@model WinS7Data.DataLibrary.Models.HK

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TempSoll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToleranzPlus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToleranzMinus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempTaktung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impulsdauer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pausendauer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffsetAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PiAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TMaxAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktiv)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.TempSoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ToleranzPlus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ToleranzMinus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TempTaktung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Impulsdauer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Pausendauer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.OffsetAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PiAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TMaxAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Aktiv)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", "Glasses", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Glasses", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Glasses", new { id = item.Id })
            </td>*@
        </tr>
    @*}*@
</table>