@model WinS7Data.DataLibrary.Models.Warm2AchseA1A2Class

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<ul class="list-inline">
    <li>
        <ul style="list-style-type: none; text-align: left;">
            <li style="text-align: left">@Html.DisplayNameFor(model => model.Position)</li>
            <li style="list-style-type: none;">@Html.DisplayFor(model => model.Position)</li>
        </ul>
    </li>
    <li>
        <ul style="list-style-type: none; text-align: left;">
            <li style="text-align: left">@Html.DisplayNameFor(model => model.Geschwindigkeit)</li>
            <li style="list-style-type: none;">@Html.DisplayFor(model => model.Geschwindigkeit)</li>
        </ul>
    </li>
</ul>





<!-- #region table version -->
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geschwindigkeit)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Geschwindigkeit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
            </td>
        </tr>
    </table>*@

<!-- #endregion -->
