@model WinS7Data.DataLibrary.Models.FuegeSchrittClass

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<ul class="list-inline">
    <li>
        <ul>
            <li>@Html.DisplayNameFor(model => model.A1)</li>
            <li style="list-style-type: none; text-align: left;">@Html.Partial("_3_5_x1_FuegeAchseA1Class", Model.A1)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>@Html.DisplayNameFor(model => model.A2)</li>
            <li style="list-style-type: none; text-align: left;">@Html.Partial("_3_5_x2_FuegeAchseA2Class", Model.A2)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>@Html.DisplayNameFor(model => model.Kuehlzeit)</li>
            <li style="list-style-type: none; text-align: left;">@Html.DisplayFor(model => model.Kuehlzeit)</li>
        </ul>
    </li>
</ul>




<!-- #region table variant -->
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.A1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kuehlzeit)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.Partial("_3_5_x1_FuegeAchseA1Class", Model.A1)
            </td>
            <td>
                @Html.Partial("_3_5_x2_FuegeAchseA2Class", Model.A2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Kuehlzeit)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </table>*@

<!-- #endregion -->
