@model WinS7Data.DataLibrary.Models.AktivierungN2GasClass

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<ul class="list-inline">
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.N2G1)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.N2G1)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.N2G2)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.N2G2)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.N2G3)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.N2G3)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.N2G4)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.N2G4)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.Reserve5)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.Reserve5)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.Reserve6)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.Reserve6)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.Reserve7)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.Reserve7)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.Reserve8)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.Reserve8)</li>
        </ul>
    </li>
</ul>



<!-- #region table variant -->

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.N2G1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N2G2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N2G3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N2G4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserve5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserve6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserve7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserve8)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.N2G1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.N2G2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.N2G3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.N2G4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Reserve5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Reserve6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Reserve7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Reserve8)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
            </td>
        </tr>
    </table>*@

<!-- #endregion -->