@model WinS7Data.DataLibrary.Models.BursterDigiforceKraftWegClass

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<ul class="list-inline">
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.FuegewegKraftNest1)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.FuegewegKraftNest1)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.FuegewegKraftNest2)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.FuegewegKraftNest2)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.BursterProgrammNest1)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.BursterProgrammNest1)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayNameFor(model => model.BursterProgrammNest2)</li>
            <li style="text-align: center; list-style-type: none;">@Html.DisplayFor(model => model.BursterProgrammNest2)</li>
        </ul>
    </li>
</ul>



<!-- #region table variant -->

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuegewegKraftNest1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuegewegKraftNest2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BursterProgrammNest1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BursterProgrammNest2)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FuegewegKraftNest1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.FuegewegKraftNest2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BursterProgrammNest1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BursterProgrammNest2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
            </td>
        </tr>
    </table>*@

<!-- #endregion -->