@model IEnumerable<WinS7Data.DataLibrary.Models.DatWerkzeug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToolCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kennung.RFIDHE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kennung.RFIDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kennung.RFIDUN)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ToolCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ToolName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kennung.RFIDHE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kennung.RFIDOB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kennung.RFIDUN)
    </td>
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
</tr>
}

</table>
