@model IEnumerable<List<WinS7Data.DataLibrary.Models.DatMWerkzeug>>

@{
    ViewBag.Title = "Index";
}

<h2>Daten MWerkzeug</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<div class="container_12">
    <div id="tablePlaceholder" class="grid_12 alpha omega">
        <table>
            <thead>
                <tr>
                    @for (int i = 0; i < Model.FirstOrDefault().Count; i++)
                    {
                        <th>
                            @Html.DisplayNameFor(model => model[i].ToolCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].ToolName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].MachineId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].WerkzeughoeheA1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].WerkzeughoeheA2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].HeizelementhoeheObenA3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].HeizelementhoeheUntenA3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].WarmpositionA3)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].BestueckungspositionA1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].BestueckungspositionA2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].PruefpositionA1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].PruefpositionA2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[i].IRKameraTriggerpositionA3)
                        </th>
                        @*<th></th>*@
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @for (int i = 0; i < item.Count; i++)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item[i].ToolCode)
                            </td>
                            <td style="white-space:nowrap">
                                @Html.DisplayFor(modelItem => item[i].ToolName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].MachineId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].WerkzeughoeheA1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].WerkzeughoeheA2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].HeizelementhoeheObenA3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].HeizelementhoeheUntenA3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].WarmpositionA3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].BestueckungspositionA1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].BestueckungspositionA2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].PruefpositionA1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].PruefpositionA2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item[i].IRKameraTriggerpositionA3)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item[i].Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item[i].Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item[i].Id })
                                </td>*@
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





<!-- #region Test. Delete later -->
@*<div class="container_16 table_options">
        <div class="grid_3 prefix_1 alpha">
                <h2>Table Properties</h2>
                <fieldset>
                    <label for="rows">rows</label>
                    <input id="rows" type="text" value="" />
                </fieldset>
                <fieldset>
                    <label for="columns">columns</label>
                    <input id="columns" type="text" value="" />
                </fieldset>
            </div>

            <div class="grid_4">
                <h2>Table Appearance</h2>
                <fieldset>
                    <label for="borderWidth">border-width</label>
                    <input id="borderWidth" type="text" value="" placeholder="ex. 1px" />
                </fieldset>
                <fieldset>
                    <label for="borderColor">border-color</label>
                    <input id="borderColor" type="text" value="" placeholder="ex. #353535" />
                </fieldset>
            </div>

            <div class="grid_3">
                <h2>&nbsp;</h2>
                <fieldset>
                    <label for="padding">padding</label>
                    <input id="padding" type="text" value="" placeholder="ex. 5" />
                </fieldset>
            </div>

        <div class="grid_2 prefix_2 omega">
            <a id="buildTable" class="button" href="#">Build Table</a>
            <a id="runPlugin" class="button" href="#">Run Plugin</a>
        </div>
    </div>*@


<!-- #endregion -->


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fixedheadertable")
    @Scripts.Render("~/bundles/mousewheel")
    <script>
        $(document).ready(function () {
            //$('#buildTable').bind('click', function (e) {
            //    e.preventDefault();

            //    $('#tablePlaceholder').empty()
            //        .buildTable();
            //});

            /*2021-06-07 YK: Script call after table was builded*/
            $('#tablePlaceholder table').fixedHeaderTable({ height: '800', width: '1300', altClass: 'odd', themeClass: 'fancyDarkTable', fixedColumns: 2 });
            console.log(123);

            //$('#runPlugin').bind('click', function (e) {
            //    e.preventDefault();

            //    $('#tablePlaceholder table').fixedHeaderTable({ height: '800', width: '1200', altClass: 'odd', themeClass: 'fancyDarkTable', fixedColumns: 2 });
            //});
        });
    </script>
}
