@model WinS7Data.DataLibrary.Models.DatN2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatN2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToolCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil07)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil35)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil35)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil36)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil36)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil37)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil37)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil39)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil39)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil40)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil40)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil41)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil41)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil42)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil42)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil43)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil43)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil44)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil44)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil45)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil45)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil46)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil46)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil47)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil47)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil48)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil48)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil49)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil49)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil50)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil51)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil51)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil52)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil52)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil53)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil53)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil54)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil54)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil55)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil55)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil56)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil56)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil57)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil57)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil58)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil58)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil59)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil59)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propventil60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propventil60)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
