@model WinS7Data.DataLibrary.Models.NameOfInput

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EO01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO20)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO26)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO27)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO28)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO29)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EO32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO121)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO141)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO122)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO142)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO123)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO143)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO124)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO144)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO125)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO145)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO126)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO146)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO127)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO147)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO128)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VO148)
        </th>
        @*<th></th>*@
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.EO01)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO02)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO03)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO04)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO05)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO06)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO07)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO08)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO09)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO10)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO11)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO12)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO13)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO14)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO15)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO16)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO17)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO18)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO19)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO20)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO21)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO22)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO23)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO24)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO25)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO26)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO27)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO28)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO29)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO30)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO31)
        </td>
        <td>
            @Html.DisplayFor(model => model.EO32)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO121)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO141)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO122)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO142)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO123)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO143)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO124)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO144)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO125)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO145)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO126)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO146)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO127)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO147)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO128)
        </td>
        <td>
            @Html.DisplayFor(model => model.VO148)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=model.Id }) |
            @Html.ActionLink("Details", "Details", new { id=model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=model.Id })
        </td>*@
    </tr>
</table>
