@model WinS7Data.DataLibrary.Models.UDTConfigSchritt

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.E_01_16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_17_32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_Vakuum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Vakuum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Ventile_1_8)
        </th>
        @*<th></th>*@
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.E_01_16)
        </td>
        <td>
            @Html.DisplayFor(model => model.E_17_32)
        </td>
        <td>
            @Html.DisplayFor(model => model.E_Vakuum)
        </td>
        <td>
            @Html.DisplayFor(model => model.A_Vakuum)
        </td>
        <td>
            @Html.DisplayFor(model => model.A_Ventile_1_8)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id= Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id= Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id= Model.Id })
        </td>*@
    </tr>
</table>
