@model IEnumerable<WinS7Data.DataLibrary.Models.DatConfig>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<div class="container_12">
    <div id="tablePlaceholder" class="grid_12 alpha omega">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ToolCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToolName)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.GS)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.ZYA)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.T1)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.T2)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.PN)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.AV)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.AP)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.PT)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.WV)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.WE)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.KU)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.AU)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.ZYE)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.RO)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.Reserve)
                    </th>
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.TK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WKZOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WKZUN)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToolCode)
                        </td>
                        <td style="white-space:nowrap;">
                            @Html.DisplayFor(modelItem => item.ToolName)
                        </td>

                        <td style="white-space:nowrap;">
                            @Html.Partial("_Schritt", item.GS)
                        </td>

                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.ZYA)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.T1)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.T2)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.PN)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.AV)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.AP)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.PT)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.WV)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.WE)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.KU)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.AU)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.ZYE)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.RO)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Schritt", item.Reserve)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_Teilekontrolle", item.TK)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_WerkzeugConfig", item.WKZOB)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.Partial("_WerkzeugConfig", item.WKZUN)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fixedheadertable")
    <script>
        $(document).ready(function () {
            /*2021-06-07 YK: Script call after table was builded*/
            $('#tablePlaceholder table').fixedHeaderTable({ height: '800', width: '1200', altClass: 'odd', themeClass: 'fancyDarkTable', fixedColumns: 2 });
            console.log(123);
        });
    </script>
}